* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #333;
}

body {
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 100px;
  overflow: hidden;
  padding: 10px;
}

h1 span {
  display: inline-block;
}
