@font-face {
  font-family: china;
  src: url(./PPNeueMachina-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #333;
}

#page1,
#page2,
#page3 {
  height: 100vh;
  width: 100%;
  padding: 5vw 0;
}
#move {
  background-color: #d8ff04;
  display: flex;
  padding: 2vw 0;
  overflow: hidden;
}

.marque {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 3vw;
  padding: 0 1.5vw;

  transform: translateX(-100%);
}

.marque h1 {
  font-size: 4vw;
  font-family: china;
  color: #000;
}
.marque img {
  height: 4vw;
}
