* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #333;
}
body {
  overflow-x: hidden;
}

#main {
  height: 100%;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/158163/clouds-cloudporn-weather-lookup-158163.jpeg");
  background-size: cover;
  background-position: center;
}
#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px;
  color: #fff;
}
#nav h2 {
  font-size: 30px;
}
#nav i {
  font-size: 30px;
  font-weight: 800;
  cursor: pointer;
}
#full {
  height: 100%;
  width: 40%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.399);
  top: 0;
  right: -40%;
  backdrop-filter: blur(10px);
  padding: 40px 50px;
}
#full h4 {
  font-size: 50px;
  color: #333;
  font-weight: 500;
  margin-bottom: 10px;
}

#full i {
  position: absolute;
  top: 5%;
  right: 10%;
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
  font-weight: 600;
  color: #333;
  font-size: 20px;
  cursor: pointer;
}
