@font-face {
  font-family: china;
  src: url("PPNeueMachina-Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  overflow-x: hidden;
}
html,
body {
  height: 100%;
  width: 100%;
}

section {
  height: 100%;
  width: 100%;

  position: relative;
}
.section1 {
  margin-bottom: 6%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 100px;
}
#part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

nav h1 {
  font-size: 50px;
}
nav h1 i {
  display: inline-block;
  rotate: 45deg;
  font-size: 55px;
}
nav h4 {
  font-size: 24px;
  font-weight: 500;
}
nav button {
  padding: 22px 40px;
  font-size: 24px;
  border-radius: 5px;
  background-color: transparent;
  font-weight: 600;
  border: 2px solid #000;
}
.center {
  padding: 70px 100px;
  height: 80%;
  width: 100%;
  display: flex;
}

.center .center-part1 {
  height: 100%;
  width: 48%;
}
.center .center-part1 h1 {
  line-height: 1.2;
  font-size: 110px;
  font-family: china;
}
.center .center-part1 p {
  width: 95%;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 35px;
}
.center .center-part1 button {
  background-color: black;
  color: #fff;
  border-radius: 10px;
  padding: 25px 40px;
  font-size: 25px;
  font-weight: 600;
  border: none;
}
.center .center-part2 {
  height: 100%;
  width: 52%;
  position: relative;
}
.center .center-part2 svg {
  height: 100%;
  position: absolute;
  right: 12%;
  bottom: 10%;
}

.center-part1 {
  font-size: 100px;
}

.section1bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 120px;
}

.section1bottom img {
  height: 60px;
  mix-blend-mode: screen;
  background-blend-mode: screen;
  filter: grayscale(100%);
}

.section2 .services {
  padding: 40px 120px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 20px;
}
.services h3 {
  background-color: #00c49a;
  font-weight: 500;
  padding: 8px 10px;
  border-radius: 5px;
  font-family: china;
  font-size: 60px;
}
.services p {
  width: 40%;
  font-size: 20px;
  font-weight: 500;
}
.container {
  height: 86%;
  width: 100%;
  padding: 40px 120px;
  display: flex;
  justify-content: space-between;
  /* gap: 50px; */
  flex-wrap: wrap;
}
.elem {
  height: 400px;
  width: 48%;
  flex-shrink: 0;
  padding: 60px 0px 60px 60px;
  border-radius: 50px;
  border: 2px solid #333;
  box-shadow: 0px 20px 0px rgba(18, 18, 18, 0.989);
  display: flex;
}
.elem-part1 {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.elem-part2 {
  height: 100%;
  width: 50%;
}
.elem-part2 img {
  height: 100%;
  object-fit: cover;
}
.elem-part1 h2 {
  font-size: 45px;
  background-color: #9ae975;
  font-weight: 500;
  font-family: china;
  width: 80%;
  padding: 0px 5px;
  border-radius: 10px;
}
.elem-part1 h4 {
  font-size: 25px;
  display: flex;
  font-weight: 500;
  align-items: center;
  gap: 20px;
}
.elem-part1 h4 i {
  padding: 20px;
  background-color: black;
  color: #fff;
  border-radius: 50%;
  font-weight: 900;
}
.black {
  background-color: #000;
}
.black .elem-part1 i {
  background-color: aliceblue;
  color: #000;
}
.black .elem-part1 h2 {
  background-color: aliceblue;
}
